<br>
{{#if user}}
<div class="main-div">
    <h1>{{user.firstName}} {{user.lastName}} Profile Page </h1>
    <h4>{{user.email}}</h4>
    <hr />
    <h3><a href="/myFavouriteBrands">Favorite brands</a></h3>
    <hr />
    {{!-- <h3>Favorite clothing</h3>
    <br>
    <hr /> --}}
    {{!-- <h2>Personal reviews</h2>
    {{#each review}}
    <p>{{content}}</p>
    {{/each}}
    <hr /> --}}
</div>
{{else}}
<h2>Oops, looks like something went wrong, please make sure you're logged in. :) </h2>
{{/if}}