<div class="main-div">
    <h2>{{chosenBrand.title}} details</h2>
    <section>
        <div>
            <img src="{{chosenBrand.image}}" alt="image logo">
            <h4> Ecological Rating: {{chosenBrand.ecoRating}}</h4>
            <p> Description: {{chosenBrand.description}}</p>
            {{#if isFav}}
                <form action="/favourite/remove/{{chosenBrand._id}}" method="post">
                    <button type="submit"><i class="bi bi-bookmark-star-fill">
                        </i></button>
                </form>
            {{else}}
                <form action="/favourite/add/{{chosenBrand._id}}" method="post">
                    <button type="submit"><i
                            class="bi bi-bookmark-star"
                        ></i></button>
                </form>
            {{/if}}
        </div>
        
        <a href="/brands/{{chosenBrand._id}}/edit">Update Brand</a>
        <form action="/brands/{{chosenBrand._id}}/delete" method="post">
            <button type="submit">Delete Brand</button>
        </form>
    </section>
</div>
